@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.textDisplay {
    box-sizing: border-box;
    color: pink;
    line-height: 1.6;
}
body{
    /* display:contents; */
    background-color: #202142;
    font-family: 'Poppins', sans-serif;
    color: cadetblue;
}

.feedbackCard {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 20px 0;
    position: relative;
  }

.ratingDisplay {
    position: relative;
    background: #f4f4f4;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    border: 1px #eee solid;
    transition: 0.3s;
  }
.num-display {
    background: #ff6a95;
    color: #fff;
}  

.ratingDisplay {
    position: absolute;
    top: -10px;
    left: -10px;
}

.container {
    max-width: 768px;
    margin: auto;
    padding: 0 20px;
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

.rating {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0 40px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 40px;
  }